# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
EXXA_Results/checkpoints/
EXXA_Results/training_progress/
EXXA_Results/metrics/
EXXA_Results/clustering/
EXXA_Results/autoencoder/

# Logs and databases
*.log
*.sqlite
*.db

# OS specific
.DS_Store
Thumbs.db 